@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), url('/fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), url('/fonts/Lato-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), url('/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), url('/fonts/Lato-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), url('/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), url('/fonts/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: normal;
  src: local('Fira Code'), url('/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: bold;
  src: local('Fira Code Bold'), url('/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code';
  font-style: italic;
  font-weight: normal;
  src: local('Fira Code Italic'), url('/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code';
  font-style: italic;
  font-weight: bold;
  src: local('Fira Code Bold Italic'), url('/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
}

/* Rest of your CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}